body {
    background-color: black;
    color: white;
    background-image: url("images/galexy.jpg");
    background-size: 800px;
}

.searchContainer {
    background-color: white;
    display: flex;
}

ul {
 list-style: none;
}

